.main {
  background: linear-gradient(
      90deg,
      rgba(66, 85, 99, 1) 45%,
      rgba(249, 249, 249, 0) 45%
    ),
    url("https://www.hatch.com/About-Us/-/media/439C819350AB4D4D8A5AF01D99B23B5B.ashx");
  background-position: right bottom;
}
.text {
  color: #f9f9f9;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 40px;
  line-height: 2.5;
  font-weight: lighter;
}
.container {
  margin-bottom: 80px;
  margin-left: 400px;
  margin-top: 50px;
}

.accordion-container {
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 20;
  display: block;
  margin: 0px;
  cursor: pointer;
  color: #425563;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 18px;
  background: rgb(238, 238, 238);
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  margin-bottom: 10px;
  
}
.accordion_container p {
  padding: 15px 15px;
  background: rgb(250, 243, 243);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.accordion_container label:after {
  content: "◄";
  position: absolute;
  width: 32px;
  height: 32px;
  right: 15px;
  top: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #425563;
  
}
.panel1 {
  box-sizing: content-box;
  border: 1px solid #d5d5d5;
  width: 100%;
  min-width: 300px;
  max-width: 575px;
  border-radius: 0px 30px 30px 0px;
  overflow: hidden;
  order: 1;
  display: block;
  margin-right: auto;
}

.accordion_container {
  width: 100%;
}

.accordion_container label {
  font-family: Arial, sans-serif;
  padding: 8px 30px;
  position: relative;
  z-index: 20;
  display: block;
  margin: 0px;
  cursor: pointer;
  color: #425563;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 18px;
  background: rgb(238, 238, 238);
  border-bottom: 1px solid #d5d5d5;
  
  border-top: 1px solid #d5d5d5;
  font-family: Arial, sans-serif;
    padding: 8px 30px;
    position: relative;
    z-index: 20;
    display: block;
    margin: 0px;
    cursor: pointer;
    color: #425563;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 18px;
    background: rgb(238,238,238);
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
  

}

.accordion_container label:hover {
  background: #f9f9f9;
}
.accordion_container input:checked + label,
.accordion_container input:checked + label:hover {
  background: #ffffff;
  font-weight: 600;
  border-bottom: none;
  cursor: default;
}

.accordion_container input:checked,
.accordion_container label:after {
  content: "◄";
  position: absolute;
  width: 32px;
  height: 32px;
  right: 15px;
  top: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #425563;
}

.accordion_container input:not(:checked) + label:after {
  content: "▼";
  position: absolute;
  width: 28px;
  height: 28px;
  right: 23px;
  top: 11px;
  font-size: 15px;
  color: #425563;
  font-weight: 500;
  background-color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 50%;
  border: 1px dotted #f9f9f9;
  line-height: 29px;
}
.accordion_container input {
  display: none;
}
