.card_container{
    width: 100vw;
    color: #fff;
    padding: 20px 0 100px;
    padding: 70px 0;  
    color: black;
    font-weight: lighter;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
  background-color: #fff;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  height: 40rem;
}
.card_center{
   max-width: 1200px;
   width: 90vw;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   color: inherit;
   outline: none;
   
}
.card_text{
    font-size: 16px;
    color: black;
    font-weight: lighter;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.head{
 background: #fff;
 display: block;
 height: fit-content;
}
